<div id="navbar">
  <div class="navbar-container">
    <% link_to "#screen1" do %>
      HOMARD BLEU
      <%#= image_tag "logo-text-blue.svg", class: "img-responsive" %>
    <% end %>
    <div class="navbar-container-right hidden-sm">
      <%= link_to "La cuisine", "#cuisine",class: "hvr-overline-reveal" %>
      <%= link_to "Le restaurant", "#restaurant", class: "hvr-overline-reveal"%>
      <%= link_to "Photos", "#gallery",class: "hvr-overline-reveal" %>
      <%= link_to "Contact", "#map"%>
      <a class="modal-button btn-navbar" data-target="#modal-booking">Réserver</a>
    </div>
    <div class="button">
      <a class="btn-open" href="#"></a>
    </div>

    
    <div class="overlay">
      <div class="wrap">
        <ul class="wrap-nav">
          <li>
            <%= link_to "La cuisine", "#cuisine", class: "nav-xs-link"%>
          </li>
          
          <li>
            <%= link_to "Le restaurant", "#restaurant", class: "nav-xs-link"%>
          </li>
          
          <li>
            <%= link_to "Photos", "#gallery", class: "nav-xs-link"%>
          </li>
          
          <li>
            <%= link_to "Contact", "#contact", class: "nav-xs-link"%>
          </li>
          
          <li>
            <%= link_to 'Réserver', 'https://www.lafourchette.com/restaurant/le-homard-bleu/324643', target: 'blank', class: "btn-navbar" %>
          </li> 
        </ul>
      </div>
    </div>

  </div>
</div>