---
title: Restaurant Le Homard Bleu
---

<!-- <div class="hb-container"> -->
  <div class="carousel">
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo2.jpg' %>)">
      <div class="banner-content">
        <%= image_tag 'logo.svg' %>
        <p>26 Avenue de la Porte d'Ivry, 75013 Paris</p>
        <p>01 45 86 68 68</p>
      </div>
     
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo11.jpg' %>)">
      <div class="banner-content">
        <%= image_tag 'logo.svg' %>
        <p>26 Avenue de la Porte d'Ivry, 75013 Paris</p>
        <p>01 45 86 68 68</p>
      </div>
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo10.jpg' %>)">
      <div class="banner-content">
        <%= image_tag 'logo.svg' %>
        <p>26 Avenue de la Porte d'Ivry, 75013 Paris</p>
        <p>01 45 86 68 68</p>
      </div>
    </div>
  </div>
<!-- </div> -->
