---
title: Restaurant Le Homard Bleu
---

<div class="hb-container">
  <div class="carousel">
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo2.jpg' %>)">
      <%= image_tag 'logo.svg' %>
      <%#= image_tag 'photo2.jpg' %>
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo11.jpg' %>)">
      <%= image_tag 'logo.svg' %>
      <%#= image_tag 'photo11.jpg' %>
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo10.jpg' %>)">
      <%= image_tag 'logo.svg' %>
      <%#= image_tag 'photo10.jpg' %>
    </div>
  </div>
</div>


<div class="bg-blue text-center padded" id="cuisine">
  <h1>Le homard bleu</h1>
  <h2>cuisine terre et mer</h2>
  <p>
    Ayant fait le choix de démocratiser les fruits de mer le restaurant vous propose une sélection rigoureuse de crustacés préparés avec soin dont la saveur n’a d’égal que leur qualité.
  </p>

  <p>
    Cuisine terre et mer, vous pourrez également déguster la côte de boeuf de 1,2kg exceptionnelle et délicieuse, garnie au choix. Les plats du jour et desserts originaux combleront les gourmands.   
  </p>
  <div class="button-container">
    <%= link_to 'Voir la carte', '/doc/menu_automne.pdf', target: 'blank' %>
  </div>

</div>

<div id="restaurant">
  <div class="left">
    <h2 class="title">Le restaurant</h2>
    <p class="text-big">
      Venez vous régalez dans son cadre sympathique, chaleureux et spacieux qui se prête tout aussi bien à un diner en amoureux, qu’un repas de famille, un anniversaire ou encore une réception.
    </p>
  </div>
  <div class="semi-banner" style="background-image: url( <%= image_path 'photo3.jpg' %> );">
  </div>
</div>

<div class="text-center padded bg-red" id="book">
  <%= link_to 'Réserver une table', 'https://www.lafourchette.com/restaurant/le-homard-bleu/324643', target: 'blank' %>
</div>


<div class="photo-gallery padded" id="gallery">
  <div class="hb-container">
    <div class="pictures">
      <% data.pictures.each do |pic| %>
        <div class="picture-card" style="background-image: url('<%= image_path("#{pic.url}")%>');">
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="map-container hidden-xs">
  <div id="map" style="width: 100%; height: 80vh;">
  </div>
  <div class="map-info text-center">
    <%#= image_tag "logo.svg" %>
    <h2>Contact</h2>
    <p>
      26 Avenue de la Porte d'Ivry <br>
      75013 Paris <br>
    </p>
    <p><b>Ouvert</b> de 10h00 à minuit du Lundi au Dimanche</p>

    <p><b>Réservation</b> en ligne ou par téléphone <br> 01 45 86 68 68</p>
    <div class="icons">
      <a href="https://www.facebook.com/Le-homard-bleu-porte-dIvry-273331293166932/" target="_blank">
        <div class="circle-icon">
          <i class="fa fa-facebook"></i>
        </div>
      </a>
      <a href="https://www.instagram.com/homardbleu13/" target="_blank">
        <div class="circle-icon">
          <i class="fa fa-instagram"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="contact" class="contact-container visible-xs">
  <div class="contact-info text-center">
    <%#= image_tag "logo.svg" %>
    <h2>Contact</h2>
    <p>
      26 Avenue de la Porte d'Ivry <br>
      75013 Paris <br>
    </p>
    <p><b>Ouvert</b> de 11h30 à 15h puis de 18h45 à 23h du Lundi au Dimanche</p>
    <p><b>Réservation</b> en ligne ou par téléphone <br> 01 45 86 68 68</p>
  </div>
</div>

<div class="footer text-center">
  <p>©2016 HOMARD BLEU · Design and web development by <a href="http://www.poulpe.co">Poulpe</a></p>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx3WH0kpKancawHg8STM60LCLwdo-VIqw"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.8203576,2.3717394999999897);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"stylers":[{"hue":"#00aaff"},{"saturation":-100},{"gamma":2.15},{"lightness":12}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"lightness":24}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":57}]}] 
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
</script>
