---
title: Restaurant Le Homard Bleu
---

<div class="hb-container">
  <div class="carousel">
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo2.jpg' %>)">
      <%= image_tag 'logo.svg' %>
      <%#= image_tag 'photo2.jpg' %>
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo11.jpg' %>)">
      <%= image_tag 'logo.svg' %>
      <%#= image_tag 'photo11.jpg' %>
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 70%), url(<%= image_path 'photo10.jpg' %>)">
      <%= image_tag 'logo.svg' %>
      <%#= image_tag 'photo10.jpg' %>
    </div>
  </div>
</div>


<div class="bg-blue text-center padded" id="cuisine">
  <h1>Le homard bleu</h1>
  <h2>cuisine terre et mer</h2>
  <p>
    Ayant fait le choix de démocratiser les fruits de mer le restaurant vous propose une sélection rigoureuse de crustacés préparés avec soin dont la saveur n’a d’égal que leur qualité.
  </p>

  <p>
    Cuisine terre et mer, vous pourrez également déguster la côte de boeuf de 1,2kg exceptionnelle et délicieuse, garnie au choix. Les plats du jour et desserts originaux combleront les gourmands.
  </p>
  <div class="button-container">
    <%= link_to 'Voir la carte', '/doc/menu_hiver.pdf', target: 'blank' %>
  </div>

</div>

<div id="restaurant">
  <div class="left">
    <h2 class="title">Le restaurant</h2>
    <p class="text-big">
      Venez vous régalez dans son cadre sympathique, chaleureux et spacieux qui se prête tout aussi bien à un diner en amoureux, qu’un repas de famille, un anniversaire ou encore une réception.
    </p>
  </div>
  <div class="semi-banner" style="background-image: url( <%= image_path 'photo3.jpg' %> );">
  </div>
</div>

<div class="text-center padded bg-red" id="book">
  <a class="modal-button" data-target="#modal-booking">Réserver une table</a>

</div>
<div class="modal" id="modal-booking">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <iframe src='https://ib.guestonline.fr/instabook/bookings/cRXCdTH' width='340px' height='450px' frameborder='0' allowTransparency='true' scrolling='yes' ></iframe>
    </div>
  </div>
  <button class="modal-close"></button>
</div>


<div class="photo-gallery padded" id="gallery">
  <div class="hb-container">
    <div class="pictures">
      <% data.pictures.each do |pic| %>
        <div class="picture-card" style="background-image: url('<%= image_path("#{pic.url}")%>');">
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center padded bg-red">
  <h3>Banquets - Réceptions - Tour Operators - Traiteur - Plats à emporter - Privatisation</h3>
</div>


<div id="map" class="map-container hidden-xs" style="background-image: url( <%= image_path("map.png") %>  );">
  <div class="map-info text-center">
    <h2>Contact</h2>
    <p>
      26 Avenue de la Porte d'Ivry <br>
      75013 Paris <br>
    </p>
    <p><b>Ouvert</b> de 12h00 à 14h30 puis de 19h00 à 22h30 du Lundi au Dimanche</p>


    <p><b>Réservation</b> en ligne ou par téléphone <br> 01 45 86 68 68</p>
    <div class="icons">
      <a href="https://www.facebook.com/Le-homard-bleu-porte-dIvry-273331293166932/" target="_blank">
        <div class="circle-icon">
          <i class="fa fa-facebook"></i>
        </div>
      </a>
      <a href="https://www.instagram.com/homardbleu13/" target="_blank">
        <div class="circle-icon">
          <i class="fa fa-instagram"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="contact" class="contact-container visible-xs">
  <div class="contact-info text-center">
    <h2>Contact</h2>
    <p>
      26 Avenue de la Porte d'Ivry <br>
      75013 Paris <br>
    </p>
    <p><b>Ouvert</b> de 12h00 à 14h30 puis de 19h00 à 22h30 du Lundi au Dimanche</p>
    <p><b>Réservation</b> en ligne ou par téléphone <br> 01 45 86 68 68</p>
  </div>
</div>

<div class="footer text-center">
  <p>©2016 HOMARD BLEU · Design and web development by <a href="http://www.poulpe.co">Poulpe</a></p>
</div>

